body {
    font-family: 'Urbanist', sans-serif;
    background: linear-gradient(90deg, #F2F2F2 34.77%, #F2F2F2 34.77%, rgba(242, 242, 242, 0) 100%);
    margin: 0;
    padding-left: 7vw;
}

body.home-page {
    padding-bottom: 10vh;
    height: 90vh;

    /* background-image: url("randomimg.jpg");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: 80% center; picture deletes the gradient background thingy*/

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

/* navbar */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    height: 10vh;
    margin-top: 10vh;
}

.nav-item {
    display: flex;
    flex-direction: row;
    order: 0;
    flex-grow: 0;

    align-items: center;
    justify-content: center;
    padding: 0px 1vw;

    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.1em;
}
/* main content */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 46vw;
    height: 41vh;
    margin: 0;
}

.main-text {
    width: 46vw;
    font-size: 2.1em;
}

ul.filters {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.filters a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;   
    font-size: 1em;
    line-height: 1.25em;
    padding: 0px 20px;
    transition: font-weight, 0.4s;
}

.filters a:hover {
    font-weight: bolder;
}

.filter-underline1 {
    width: 100px;
    height: 1vh;
    border-radius: 0.5vw;
    transition: background-color, 0.7s;
}

.filter-underline2 {
    width: 93px;
    height: 1vh;
    border-radius: 0.5vw;
    transition: background-color, 0.7s;
}

.filter-underline3 {
    width: 81px;
    height: 1vh;
    border-radius: 0.5vw;
    transition: background-color, 0.7s;
}

.filter1:hover .filter-underline1 {
    background-color: cornflowerblue;
}

.filter2:hover .filter-underline2 {
    background-color: darkkhaki;
}

.filter3:hover .filter-underline3 {
    background-color: indianred;
}


input {
    font-size: 0.9em;
    line-height: 1.3em;
    background-color: #FFFFFF;
    color: #666666;
    border: none;
    border-radius: 3vw;
    width: 44vw;
    height: 6vh;
    padding-left: 1.5em;
}

input:focus {
    outline: none;
}

/* other pages css */

.side-page {
    margin-top: 5vh;
}

.search-container {
    padding-left: 1vw;
    max-width: 600px;
    width: 60vw;
}

.search-container h1 {
    font-size: 1.5em;
    
}

.search-container .search-widget input {
    max-width: 650px;
    width: 65vw;
}

.search-items {
    background-color: white;
    border-radius: 15px;
    padding: 15px 15px;
    margin-top: 10px;
}

.search-items h3 {
    font-size: 1.2em;
    float: left;
    margin-top: 10px;
}

.search-items span {
    color: #666666;
    float: right;
    margin-top: 15px;
    font-size: 0.7em;
}

.search-items p {
    clear: both;
}


.tags {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.search-items p  {
    font-size: 0.9em;
}

a.tag {
    text-decoration: none;
    text-align: center;
    background-color: #D6E1F5;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    color: black;
    font-size: 0.7em;
    font-weight: bolder;
    margin-right: 10.8px;
    padding: 4px 10px;
}