body {
    font-family: 'Urbanist', sans-serif;
    background: linear-gradient(90deg, #F2F2F2 34.77%, #F2F2F2 34.77%, rgba(242, 242, 242, 0) 100%);
    margin: 0;
}

/* navbar */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 100px;
    margin: 70px;
}

.wrapper {
    max-width: 1668px;
}

nav ul {
    display: flex;
}

.nav-item {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

/* main content */
.main-container {
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 899px;
    height: 444px;
    margin-top: 200px;
    margin-left: 120px;
}

.main-text {
    width: 899px;
    font-size: 50px;
    line-height: 60px;
}

ul.filters {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.filter-item {
    list-style: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;   
    font-size: 24px;
    line-height: 30px;
    padding: 0px 20px;
}



input {
    font-size: 24px;
    line-height: 29px;
    background: #FFFFFF;
    color: #666666;
    border: none;
    border-radius: 10px;
    width: 800px;
}

.img-container .wrapper img {
    width: 674px;
    height: 716px;
    margin-top: -150px;
    margin-right: 100px;
}